.dialog {
    background-image: linear-gradient(to top, white, rgba(white, 0.8));
    font-family: Comic Neue, sans-serif;
    width: 100%;
    padding: 16px;
    border-top: rgba(0, 0, 0, 0.25) solid 4px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    height: 200px;
    transition: 0.5s;
    box-shadow: 0px 16px 16px 16px transparent;
    backdrop-filter: blur(5px);
    cursor: pointer;

    &.writing {
        cursor: not-allowed;
    }

    &:not(.writing) {
        .text::after {
            content: "▼";
            display: inline-block;
            margin-left: 8px;
            font-size: 16px;
            font-weight: 700;
            animation: opacity-wait .2s, dialog-char .2s .2s, dialog-arrow infinite alternate 0.5s .4s;
        }
    }

    &.open {
        box-shadow: 0px 16px 16px 16px black;
    }

    &:not(.open) {
        transform: translateY(200px);
    }

    > .container {
        display: flex;
        margin: auto;
        width: 600px;
        
        > img {
            height: 128px;
            pointer-events: none;
        }

        > .text {
            font-size: 24px;
            user-select: none;
            margin-left: 32px;
        }

        span {
            animation: dialog-char 0.16s;
            display: inline-block;
            white-space: pre;
        }

        @media (max-width: 600px) {
            width: 100%;

            > img {
                height: 64px;
            }

            > .text {
                margin-left: 16px;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

@keyframes dialog-arrow {
    to {
        transform: translateY(4px);
    }
}

@keyframes opacity-wait {
    from, to {
        opacity: 0;
    }
}

// @keyframes dialog-char {
//     from {
//         transform: translateX(8px);
//         opacity: 0.5;
//     }
// }

@keyframes dialog-char {
    from {
        transform: translateY(-12px);
        opacity: 0.5;
    }

    50% {
        transform: translateY(4px) scaleY(0.7);
    }
}
